<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #editor {
            border: #C3C3C3 solid 1px;
            width: 210mm;
        {#height: 297mm;#} margin: 0 auto;
            margin-top: 20px;
            box-sizing: border-box;
            padding: 2.54ch 3.17cm;
        }

        .ck-editor__editable {
            min-height: 297mm;
        }

        #menu_bar {
            border: #C3C3C3 solid 1px;
        }
    </style>
    <link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="menu_bar">
    <p>无标题文档</p>
</div>
<div id="toolbar-container"></div>

<!-- This container will become the editable. -->
<div id="editor">

</div>
</body>
<!--<script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>-->

<script src="/static/ckeditor5-build-decoupled-document/ckeditor.js"></script>
<script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script>
    DecoupledEditor
        .create(document.querySelector('#editor'), {
                heading: {
                    options: [
                        {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                        {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                        {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'},
                        {model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3'},
                        {model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4'},
                        {model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5'},
                        {model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6'}
                    ]
                },
                language: 'zh-cn',
                ckfinder: {
                    options: {
                        resourceType: 'Images'
                    },
                    uploadUrl:'/static/upload'

                }
            }
        )
        .then(editor => {
            const toolbarContainer = document.querySelector('#toolbar-container');

            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
        })
        .catch(error => {
            console.error(error);
        })


</script>
</html>