<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel</title>
    <link rel="stylesheet" type="text/css" href="../static/excel/css/font-awesome.4.6.0.css">
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/excel/css/excel.css"/>
</head>
<body>
<header style="background-color: #fafafa;height: 50px;z-index: 0">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">

        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <a href="javascript:history.go(-1)" style="margin-left: 30px">
                <b>
                    <img src="../static/assets/images/返回.png" width="26" height="25" alt="goback">
                </b>
            </a>

            <!-- 分割线 -->
            <img src="../static/assets/images/按键分割线.png" width="30" height="30" alt="goback"
                 class="light-logo">

            <!-- 保存按钮 -->
            <a id="CKEditor_data_modify" href="javascript:void(0);" style="margin-right: 10px">
                <b>
                    <img src="../static/assets/images/Excel/保存.png" width="26" height="25" alt="goback">
                </b>
            </a>
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                <input type="text" id="excel_title" class="form-control" autocomplete="off" placeholder="无标题文档"
                       value="{{ request.session.file_name }}"
                       placeholder="无标题文档">

                <!-- 下拉按钮 -->
            </ul>

            <div class="dropdown" style="margin-left: 10px">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    版本
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a id="saveedi" class="dropdown-item" href="javascript:void(0);">保存</a>
                    <a id="showEditor" class="dropdown-item" href="javascript:void(0);">查看</a>
                </div>
            </div>

            <div class="dropdown" style="margin-left: 10px">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    分享
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0);">通过链接分享</a>
                </div>
            </div>

            <img src="../static/assets/images/按键分割线.png" width="30" height="30" alt="goback"
                 class="light-logo">

            <a href="/personal/"><img src="../static/assets/images/users/{{request.session.icon}}" style="height: 30px; width: 30px;border-radius: 15px;margin-right: 10px"
                 alt="user" class="profile-pic m-r-10"><span style="color: black;margin-top: 2px;">{{request.session.username}}</span></a>
        </div>
    </nav>
</header>
{#导航栏#}
<div class="meue">
    <div class="box1">
        <div class="daohang">
            <div><span class="span11"><img src="../static/assets/images/Excel/撤销.png" style="margin-left: 2px"/></span>
            </div>
            <div><span class="span12">撤销</span></div>
        </div>
        <div class="daohang">
            <div><span class="span11"><img src="../static/assets/images/Excel/重做.png" style="margin-left: 2px"/></span>
            </div>
            <div><span class="span12">重做</span></div>
        </div>
    </div>

    <div class="box1" style="width: 126px">
        <div class="daohang">
            <div><span class="span11"><img src="../static/assets/images/Excel/粘贴.png" style="margin-left: 2px"/></span>
            </div>
            <div><span class="span12">粘贴</span></div>
        </div>
        <div class="daohang" style="width: 70px">
            <div><span class="span11"><img src="../static/assets/images/Excel/橡皮擦.png"
                                           style="margin-left: 18px"/></span></div>
            <div><span class="span12">清除样式</span></div>
        </div>
    </div>

    <div class="box1" style="width: 380px">
        <div class="daohang">
            <div><span class="span11"><img src="../static/assets/images/Excel/标题.png" style="margin-left: 2px"/></span>
            </div>
            <div><span class="span12">标题</span></div>
        </div>
        <div class="daohang">
            <div><span class="span11"><img src="../static/assets/images/Excel/加粗.png" style="margin-left: 2px"/></span>
            </div>
            <div><span class="span12">加粗</span></div>
        </div>
        <div class="daohang">
            <div><span class="span11"><img src="../static/assets/images/Excel/斜体.png" style="margin-left: 2px"/></span>
            </div>
            <div><span class="span12">斜体</span></div>
        </div>
        <div class="daohang" style="width: 60px">
            <div><span class="span11"><img src="../static/assets/images/Excel/下划线.png"
                                           style="margin-left: 10px"/></span></div>
            <div><span class="span12">下划线</span></div>
        </div>
        <div class="daohang" style="width: 70px">
            <div><span class="span11"><img src="../static/assets/images/Excel/字体颜色.png"
                                           style="margin-left: 18px"/></span></div>
            <div><span class="span12">字体颜色</span></div>
        </div>
        <div class="daohang" style="width: 70px">
            <div><span class="span11"><img src="../static/assets/images/Excel/背景颜色.png"
                                           style="margin-left: 18px"/></span></div>
            <div><span class="span12">背景颜色</span></div>
        </div>
    </div>
    <div class="box1" style="width: 260px">
        <div class="daohang" style="width: 60px">
            <div><span class="span11"><img src="../static/assets/images/Excel/左对齐.png"
                                           style="margin-left: 10px"/></span></div>
            <div><span class="span12">左对齐</span></div>
        </div>
        <div class="daohang">
            <div><span class="span11"><img src="../static/assets/images/Excel/居中.png" style="margin-left: 2px"/></span>
            </div>
            <div><span class="span12">居中</span></div>
        </div>
        <div class="daohang" style="width: 60px">
            <div><span class="span11"><img src="../static/assets/images/Excel/右对齐.png"
                                           style="margin-left: 10px"/></span></div>
            <div><span class="span12">右对齐</span></div>
        </div>
        <div class="daohang" style="width: 70px">
            <div><span class="span11"><img src="../static/assets/images/Excel/垂直对齐.jpg"
                                           style="margin-left: 18px"/></span></div>
            <div><span class="span12">垂直对齐</span></div>
        </div>
    </div>
    <div class="box1" style="width: 136px">
        <div class="daohang" style="width: 80px">
            <div><span class="span11"><img src="../static/assets/images/Excel/合并单元格.png"
                                           style="margin-left: 25px"/></span></div>
            <div><span class="span12">合并单元格</span></div>
        </div>
        <div class="daohang">
            <div><span class="span11"><img src="../static/assets/images/Excel/更多.png" style="margin-left: 2px"/></span>
            </div>
            <div><span class="span12">更多</span></div>
        </div>
    </div>

</div>
<input type="hidden" id="roleName" value="{{ request.session.roleName }}">
<input type="hidden" id="get_excel_content" value="{{ request.session.excel_content }}">
<input type="hidden" id="excel_save_state" value="{{ saveState }}">
<input type="hidden" id="userId" value="{{ request.session.userId }}">
<input type="hidden" id="fileId" value="{{ request.session.file_id }}">
<input type="hidden" id="teamId" value="{{ saveState }}">

<div id="aa" class="wyb-excel" style="width:99%;margin: 0 auto;">
</div>
<div id="aaaa" class="aaaaa wyb-excel-table"style="width:99%;margin: 0 auto;" ></div>

<div id="youji" class="rightmouse-panel-div" style="left: 686px;top: 251px;"  >
    <div class="panel-div-left" style="width: 200px">
        <div class="wb duiqifangshi">
            <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/对齐.png" style="width: 22px;height: 18px;margin-left: 2px">
            </span>
            <span class="excel-rightmomuse-text-css">对齐方式</span>
            <span class="excel-rightmomuse-icon-css excel-rightmomuse-icon-next-css">
                <img src="../static/assets/images/Excel/三角下标.png">
            </span>
        </div>
        <div class="wb hebingdanyuange">
            <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/合并单元格.png" style="width: 22px;height: 18px">
            </span>
            <span class="excel-rightmomuse-text-css">合并单元格</span>
        </div>
        <div class="wb shangchayihang">
             <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/上.png">
            </span>
            <span class="excel-rightmomuse-text-css">上方插入一行</span>
        </div>
        <div class="wb xiachayihang">
             <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/下.png">
            </span>
            <span class="excel-rightmomuse-text-css">下方插入一行</span>
        </div>
        <div class="wb zuochayilie">
             <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/左.png">
            </span>
            <span class="excel-rightmomuse-text-css">左方插入一行</span>
        </div>
        <div class="wb youchayilie">
             <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/右.png">
            </span>
            <span class="excel-rightmomuse-text-css">右方插入一行</span>
        </div>
        <div class="wb shanchuhang">
             <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/删除行.png">
            </span>
            <span class="excel-rightmomuse-text-css">删除行</span>
        </div>
        <div class="wb sahngchulie">
             <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/删除列.png">
            </span>
            <span class="excel-rightmomuse-text-css">删除列</span>
        </div>
    </div>
    <div class="panel-div-right" style="width: 130px">
        <div class="wb juzhong">
            <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/居中.png">
            </span>
            <span class="excel-rightmomuse-text-css">居中</span>
        </div>
        <div class="wb zuoduiqi">
            <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/左对齐.png">
            </span>
            <span class="excel-rightmomuse-text-css">左对齐</span>
        </div>
        <div class="wb youduiqi">
            <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/右对齐.png">
            </span>
            <span class="excel-rightmomuse-text-css">右对齐</span>
        </div>
        <div class="wb chuizhijuzhong">
            <span class="excel-rightmomuse-icon-css">
                <img src="../static/assets/images/Excel/垂直对齐.jpg">
            </span>
            <span class="excel-rightmomuse-text-css">垂直居中</span>
        </div>
    </div>
</div>

{# 查看版本 #}
<div id="myEditor" class="topbar">
    <a href="javascript:void(0)" id="closeEditor" class="close">&times;</a>
</div>
<!-- 预览模态框 -->
<div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 35px 0 0 290px">
        <div class="modal-content" style="width:850px;height:750px">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="table-layout: fixed">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 120px;height: 48px">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>

<style type="text/css">
    #myEditor{
        position: absolute;
        top: 65px;
        left: 80%;
        display: inline-block;
        border: black 1px solid;
        height: 600px;
        width: 18%;
    }
    .abc{
        display: none;
    }

    .abcd{
        display: block;
    }
    .wyb-excel-table table {
      table-layout: auto;
    }
    .wtSpreader tr, th {
        height: 26px;
    }
    .daohang {
        display: inline-block;
        width: 50px;
        height: 50px;
    }
    .span11 {
        margin-left: 5px;
        width: 60px;
        height: 50px;
    }
    .span12 {
        margin-left: 5px;
        width: 50px;
        height: 50px;
        font-size: 13px;
    }
    #dropdownMenuButton {
        padding: 6px 12px;
    }
    .box1 {
        border-right: 1px solid lightgrey;
        display: inline-block;
        width: 107px;
        margin-top: 2px;
    }
    img {
        width: 22px;
        height: 18px;
    }
</style>
<script type="text/javascript" src="../static/excel/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="../static/excel/js/excel.min.js"></script>
<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/modifyexcel.js"></script>
<script>

    $(function (){
          //隐藏右击出现的div
        $("#youji").attr("style","display:none;")
        $(".wyb-excel").wybExcel();
    });

    var a=$("#get_excel_content").val()
    //将字符串转换为数组
    var str=eval(a);
    //隐藏
    if (a!=""){
        document.getElementById("aa").className = 'abc';
     }
    showdata()
    function showdata() {
        $(".rightmouse-panel-div").css("display", "block");
        if (a!=""){
            //将数据显示到页面
            var tableTitle = "<table width='100%' class='tab'>" +
                "</table>"
            $(".aaaaa").append(tableTitle);
            var html = '';
            for (var i = 0; i < str.length; i++) {
                if (i==0){
                    html+= '<tr style=\'height: 38px;\'><td class="drug-ele-td" style=\'width: 54px;text-align: center;\'></td>';
                    for (var n = 0; n < str[0].length; n++){
                        html += '<td class="drug-ele-td" style=\'width: 54px;text-align: center;\'>'+(String.fromCodePoint(n+65))+'</td>';
                    }
                }
                html += '<tr style=\'height: 38px;\'>';
                for (var j = 0; j < str[0].length; j++) {

                    if (j==0){
                        html += '<td class="drug-ele-td" style=\'width: 54px;text-align: center;\'>'+(i+1)+'</td>';
                    }
                    if (str[i][j]=='null'){
                        html += '<td   style=\'width: 135px;\' contenteditable="true"></td>';
                    }else {
                        html += '<td   style=\'width: 135px;\'  contenteditable="true">' + str[i][j] + '</td>';
                    }
                }
                html += '</tr>';
            }
            $(".tab").append("<tbody>" + html + "</tbody>");
        }
    }
</script>
</html>