{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
    <title>esbook </title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="../static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
          rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="../static/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../static/css/colors/blue.css" id="theme" rel="stylesheet">

    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <link rel="Stylesheet" type="text/css" href="../static/css/loginDialog.css"/>
    <link href="../static/css/index.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index/">
                    <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->

                    <!-- Light Logo icon -->
                    <img src="../static/assets/images/logo-light-icon.png" alt="homepage" class="light-logo"/>
                </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->

                    <!-- Light Logo text -->
                    esbook </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <li class="nav-item hidden-sm-down search-box">
                        <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark"
                           href="javascript:void(0)">
                            <i class="ti-search"></i>
                        </a>
                        {#                        <form class="app-search">#}
                        <input id="search-bar" type="text" placeholder="搜索文件名、文件内容"
                               onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"
                               autocomplete="off">
                        {#                            <a class="srh-btn" onclick="closeSearchReasult()"><i class="ti-close"></i></a>#}
                        {#                            </input>#}
                        {#                        </form>#}

                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../static/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-10"/>{{request.session.username}}</a>
                        <a href="/logout/" class="link" data-toggle="tooltip" title="Logout"><i
                                class="mdi mdi-power"></i>退出登录</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="search-results" class="topbar">
        <div class="list-group-item">
            <span>搜索结果：</span>
        </div>
        <div class="container" style="margin-left: 0;padding: 0;width: 100%">
            <ul class="list-group" id="search-results-show">

            </ul>
        </div>
    </div>
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li data-id="center" class="waves-effect waves-dark"><i
                            class="icon-search icon-book-open"></i><span>我的文档</span></li>
                </ul>
                <ul id="side">
                    <!--协作空间列表-->
                    <li class="waves-effect waves-dark" style="margin-left: 19px"><span>协作空间</span>
                        <span style="margin-left: 90px" data-toggle="modal" data-target="#teamModal"><i
                                class="icon-search icon-plus"></i></span></li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <div class="sidebar-footer">
            <a href="javascript:bin()" class="link" data-toggle="tooltip"
               style="font-size: 16px;margin-left:20%;padding: 15px 0px"><i
                    class="icon-search icon-trash"></i>&nbsp;&nbsp;<span>回收站</span></a>
        </div>
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div id="box">
            <div id="box1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="margin-top:5px;padding: 8px 50px">新建
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="text-align: center">
                        <a id="toDocs" class="dropdown-item" href="javascript:void(0)">文档</a>
                        <a class="dropdown-item" href="#">表格</a>
                        <a class="dropdown-item" href="#">幻灯片</a>
                    </div>
                </div>
                <div>
{#                    <div class="custom-file">#}
{#                        <input type="file" class="custom-file-input" id="inputGroupFile02" style="display: none"#}
{#                               accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">#}
{#                        <label class="custom-file-label" for="inputGroupFile02" id="btn2">导入</label>#}
{#                    </div>#}
                    <form method="post"  id="myform"  action="" enctype="multipart/form-data">
                        <a href="javascript:;" class="file">选择文件
                            <input type="file" name="files" id="inputfiles">
                        </a>
                        <input type="submit" value="导入" id="daoru">
                    </form>
                </div>
            </div>
            <div id="box2">
                <div style="margin-top: 2%">
                    <h2 id="h2" style="margin-left: 1.5%">我的文档</h2>
                    <table id="tab" class="table table-hover">
                    </table>
                    <div id="clickMenu" style="display: none;position:absolute;">
                        <ul class="list-group">
                            <li class="list-group-item" style="width: 100px" onclick="delFiles()">删除</li>
                        </ul>
                    </div>
                    <div id="bin"></div>
                </div>
                <!-- 分页容器： 显示分页按钮-->
                <div class="fenye" id="Hidden">
                    <!-- 注意:3版本的分页容器标签是<ul>，2版本的容器标签是<div> -->
                    <ul id="mypage"></ul>
                </div>
            </div>
        </div>
        <!--文档列表的样式，不能提取出去，只能在页面，否则无效-->
        <style>

            #tab {
                margin-left: 10px;
                width: 95%;
                border: 0px;
                cellpadding: 0px;
                cellspacing: 0px;
            }
            #fenye {
                margin-left: 65%;
                margin-top: 10px;
            }

            .one {
                display: inline-block;
                margin-left: 1.5%;
                width: 60%;
            }

            .two {
                display: inline-block;
            }

            .hr1 {
                margin-left: 1%;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: #ffffff;
            }
            #daoru{
                width: 146px;
            }
            .file {
                position: relative;
                display: inline-block;
                width: 146px;
                background: white;
                {#border: 1px solid lightgrey;#}
                border-radius: 4px;
                {#padding: 4px 12px;#}
                overflow: hidden;
                color: black;
                height: 26px;
                text-decoration: none;
                text-indent: 0;
                line-height: 26px;
                text-align: center;
            }
            .file input {
                position: absolute;
                font-size: 100px;
                right: 0;
                top: 0;
                opacity: 0;
            }
            .file:hover {
                background: lightgrey;
                border-color: #78C3F3;
                color: black;
                text-decoration: none;
            }
            #daoru{
                border: none;
            }
        </style>
        <script>
            $(function () {
                saveState = "my_doc";
                {#点击我的文档显示个人文档列表#}
                $("#sidebarnav").on("click", function () {
                    // 设置保存状态
                    saveState = "my_doc";
                    my_doc_file()
                })
                my_doc_file()
                //导入文件操作
                $("#inputfiles").on("change",function () {
                    //动态改变action中的值
                    if (saveState=='my_doc') {
                        $("#myform").attr("action", "/user_upload_file/");
                    }else {
                        $("#myform").attr("action", "/team_upload_file/?saveState="+saveState);
                    }
                    var files = $('#inputfiles').prop('files');//获取到文件列表
                    //判断导入文件名是否存在
                    $.ajax({
                        url:"/uploadexist/",
                        data:{
                            "filename":files[0].name,
                            "saveState":saveState,
                            "teamId":saveState,
                        },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.status == 200) {
                                alert("文档名已经存在，请重新命名")
                            }else {
                                alert("文档不存在，可以导入")
                            }
                            // 个人文件导入
                            {#$.ajax({#}
                            {#    url:"/user_upload_file/",#}
                            {#    data:{"saveState":saveState,"fileobj":files[0]},#}
                            {#    type: "POST",#}
                            {#    dataType: "json",#}
                            {#    success: function (data) {#}
                            {#        if (data.status == 200) {#}
                            {#            // 保存成功#}
                            {#            alert(data.message);#}
                            {#        } else {#}
                            {#            // 保存失败#}
                            {#            alert(data.message);#}
                            {#        }#}
                            {#    }#}
                            {# })#}

                        }
                    })
                })
            });
            var tableTitle = "<thead>\n" +
                "    <tr>\n" +
                "      <th style=\"width: 60%\">文件名</th>\n" +
                "      <th style=\"width: 10 %\">作者</th>\n" +
                "      <th style=\"width: 10 %\">更新时间</th>\n" +
                "    </tr>\n" +
                "  </thead>" +
                "  <tbody>"
            {#显示我的文档列表#}
            function my_doc_file() {
                $("#bin").html("");
                $("#h2").text("我的文档");
                $.ajax({
                    url: "/filelist/",
                    type: "POST",
                    dataType: "json",
                    data: {page: '1'}, //参数：当前页为1
                    success: function (data) {
                        //处理第一页的数据
                        appendHtml(data);
                        var options = {//根据后台返回的分页相关信息，设置插件参数
                            bootstrapMajorVersion: 3, //如果是bootstrap3版本需要加此标识，并且设置包含分页内容的DOM元素为UL,如果是bootstrap2版本，则DOM包含元素是DIV
                            currentPage: data.page, //当前页数
                            totalPages: data.totalPage, //总页数
                            numberOfPages: data.pageSize,//每页记录数
                            itemTexts: function (type, page, current) {//设置分页按钮显示字体样式
                                switch (type) {
                                    case "first":
                                        return "首页";
                                    case "prev":
                                        return "上一页";
                                    case "next":
                                        return "下一页";
                                    case "last":
                                        return "末页";
                                    case "page":
                                        return page;
                                }
                            },
                            onPageClicked: function (event, originalEvent, type, page) {//分页按钮点击事件
                                $.ajax({//根据page去后台加载数据
                                    url: "/filelist/",
                                    type: "post",
                                    dataType: "json",
                                    data: {"page": page},
                                    success: function (data) {
                                        appendHtml(data);//处理数据
                                    }
                                });
                            }
                        };
                        $('#mypage').bootstrapPaginator(options);//设置分页
                    },
                })
            }
            function appendHtml(data) {
                $("#tab").html("");
                $("#tab").append(tableTitle);
                if(data.status==2001){
                    var tmp='<span style="margin:10px">'+data.message+'</span>';
                    $("#tab").append(tmp);
                    $("#Hidden").css("display", "none");
                }else {
                    $("#Hidden").css("display", "block");
                    for (i = 0; i < data.list.length; i++) {
                        var html = ' ';
                        var text = data.list[i][2];
                        var mystr = text.substring(0, 10) + "  " + text.substring(11);
                        html += '<tr class=\"tr1\'\" file_id=\"' + data.list[i][4] + '\">\n';
                        /*word*/
                        var t1 = '<td><img style=\'width: 17px\' src=\'/static/assets/images/word.png\'/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick = \"docs_modify(\'' + data.list[i][0] + '\',\'' + data.list[i][3] + '\',\'' + saveState + '\',\'' + data.list[i][4] + '\')\"' +
                            'fileName=\"' + data.list[i][1] + '\" userId=\"' + data.list[i][3] + '\">' + data.list[i][0] + '</a></td>';
                        /*excel*/
                        var t2 = '<td><img style=\'width: 17px\' src=\'/static/assets/images/excel.png\'/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick = \"docs_modify(\'' + data.list[i][0] + '\',\'' + data.list[i][3] + '\',\'' + saveState + '\',\'' + data.list[i][4] + '\')\"' +
                            'fileName=\"' + data.list[i][1] + '\" userId=\"' + data.list[i][3] + '\">' + data.list[i][0] + '</a></td>';
                        /*ppt*/
                        var t3 = '<td><img style=\'width: 17px\' src=\'/static/assets/images/ppt.png\'/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick = \"docs_modify(\'' + data.list[i][0] + '\',\'' + data.list[i][3] + '\',\'' + saveState + '\',\'' + data.list[i][4] + '\')\"' +
                            'fileName=\"' + data.list[i][1] + '\" userId=\"' + data.list[i][3] + '\">' + data.list[i][0] + '</a></td>';
                        if (data.list[i][5] == 0) {
                            html = html + t1;
                        } else if (data.list[i][5] == 1) {
                            html = html + t2
                        } else if (data.list[i][5] == 2) {
                            html = html + t3
                        }
                        html += '<td>' + data.list[i][1] + '</td>' +
                            '<td>' + mystr + '</td>' +
                            '</tr>';
                        $("#tab").append(html)
                    }
                    $("#tab").append("</tbody>");
                }
            }

            {#团队文档列表#}
            function team_file(teamName) {
                //点击查询清空之前的数据
                $("#bin").html("");
                $("#h2").text(teamName);
                $.ajax({
                    url: "/teamfile/",
                    type: "POST",
                    data: {"teamName": teamName,"page":1},
                    dataType: "json",
                    success: function (data) {
                        //处理第一页的数据
                        appendTable(data);
                        var options = {//根据后台返回的分页相关信息，设置插件参数
                            bootstrapMajorVersion: 3, //如果是bootstrap3版本需要加此标识，并且设置包含分页内容的DOM元素为UL,如果是bootstrap2版本，则DOM包含元素是DIV
                            currentPage: data.page, //当前页数
                            totalPages: data.totalPage, //总页数
                            numberOfPages: data.pageSize,//每页记录数
                            itemTexts: function (type, page, current) {//设置分页按钮显示字体样式
                                switch (type) {
                                    case "first":
                                        return "首页";
                                    case "prev":
                                        return "上一页";
                                    case "next":
                                        return "下一页";
                                    case "last":
                                        return "末页";
                                    case "page":
                                        return page;
                                }
                            },
                            onPageClicked: function (event, originalEvent, type, page) {//分页按钮点击事件
                                $.ajax({//根据page去后台加载数据
                                    url: "/teamfile/",
                                    type: "post",
                                    dataType: "json",
                                    data: {"teamName": teamName,"page": page},
                                    success: function (data) {
                                        appendTable(data);//处理数据
                                    }
                                });
                            }
                        };
                        $('#mypage').bootstrapPaginator(options);//设置分页
                    },
                })
            }
            function appendTable(data){
                $("#tab").html("");
                $("#tab").append(tableTitle);
                if(data.status==2001){
                    var tmp='<span style="margin:10px">'+data.message+'</span>';
                    $("#tab").append(tmp);
                    $("#Hidden").css("display", "none");
                }else{
                    $("#Hidden").css("display", "block");
                    for (i = 0; i < data.list.length; i++) {
                        var html = ' ';
                        var text = data.list[i][6];
                        var mystr = text.substring(0, 10) + "  " + text.substring(11);
                        html += '<tr class=\"tr1\'\" file_id=\"' + data.list[i][4] + '\" teamName=\"' + data.list[i][1] + '\">\n'
                        /*word*/
                        var t1 = '<td><img style=\'width: 17px\' src=\'/static/assets/images/word.png\'/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick = \"docs_modify(\'' + data.list[i][5] + '\',\'' + data.list[i][0] + '\',\'' + saveState + '\',\'' + data.list[i][7] + '\')\"' +
                            'fileName=\"' + data.list[i][1] + '\" userId=\"' + data.list[i][3] + '\">' + data.list[i][5] + '</a></td>'
                        /*excel*/
                        var t2 = '<td><img style=\'width: 17px\' src=\'/static/assets/images/excel.png\'/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick = \"docs_modify(\'' + data.list[i][5] + '\',\'' + data.list[i][0] + '\',\'' + saveState + '\',\'' + data.list[i][7] + '\')\"' +
                            'fileName=\"' + data.list[i][1] + '\" userId=\"' + data.list[i][3] + '\">' + data.list[i][5] + '</a></td>'
                        /*ppt*/
                        var t3 = '<td><img style=\'width: 17px\' src=\'/static/assets/images/ppt.png\'/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick = \"docs_modify(\'' + data.list[i][5] + '\',\'' + data.list[i][0] + '\',\'' + saveState + '\',\'' + data.list[i][7] + '\')\"' +
                            'fileName=\"' + data.list[i][1] + '\" userId=\"' + data.list[i][3] + '\">' + data.list[i][5] + '</a></td>'
                        if (data.list[i][8] == 0) {
                            html = html + t1
                        } else if (data.list[i][8] == 1) {
                            html = html + t2
                        } else if (data.list[i][8] == 2) {
                            html = html + t3
                        }
                        html += '<td>' + data.list[i][3] + '</td>' +
                            '<td>' + mystr + '</td>' +
                            '</tr>';
                        $("#tab").append(html)
                    }
                    $("#tab").append("</tbody>");
                }

            }

            // 新建doc文档
            $("#toDocs").on("click", function () {
                window.location.href = "/RTFdocs/?saveState=" + saveState
            });

            //阻止浏览器默认右击点击事件
            $("#tab").on("contextmenu", "tr", function () {
                return false;
            });

            // 绑定右击事件
            $("#tab").on("mousedown", "tr", function (e) {
                //右键为3
                if (3 == e.which) {
                    var file_id = $(this).attr("file_id");
                    var team_name = $(this).attr("teamname");
                    $("#clickMenu").attr("file_id",file_id)
                    $("#clickMenu").attr("team_name",team_name)

                    $("#clickMenu").css("display", "block");
                    //var divchild = $(this).children("div");
                    $("#clickMenu").css("left", e.clientX - 250);
                    $("#clickMenu").css("top", e.clientY - 50);
                }
            });

            $("body").on("click", function () {
                $("#clickMenu").css("display", "none");
            })

            // 删除文件
            function delFiles() {
                var file_id = $("#clickMenu").attr("file_id")
                var team_name = $("#clickMenu").attr("team_name")
                $.ajax({
                    url: "/delFiles/",
                    type: "post",
                    data: {file_id: file_id},
                    dataType: "json",
                    success: function (data) {
                        if (data.flag == "success") {
                            // 个人文档刷新
                            if (saveState == "my_doc") {
                                my_doc_file()
                            } else {
                                // 团队文档刷新
                                team_file(team_name)
                            }
                        }
                    }
                })
            }

            // 改变保存状态的值
            function changeSaveState(teamId, teamName) {
                saveState = teamId;
                team_file(teamName);
            }
        </script>
    </div>
    <!-- 添加协作空间模态框（Modal） -->
    <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">新建协作空间</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>空间名称</p>
                    <input type="text" id="teamName" name="teamName" class="form-control" placeholder="请输入"
                           style="padding-left: 3%;"
                           onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"
                           autocomplete="off"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" onclick="addTeam()" style="width: 120px;height: 48px">
                        添加
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="width: 120px;height: 48px">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 添加协作成员的模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="margin-left: 5%">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 600px;height: 600px">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel" style="width: 80%;word-break:break-all">
                        协作空间 &nbsp;&nbsp;&nbsp;&nbsp; <span id="tName">1234</span>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom: 5%;margin-top: 3%">
                        <input type="text" id="userName" class="name" placeholder="请输入用户名 添加协作者"
                               style="width: 85%;height: 40px"
                               onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"
                               autocomplete="off"/>
                        <button onclick="serachUser()" class="btn  btn-info" style="margin-left: 2%">搜索</button>
                        <table class="table" id="table1" style="table-layout: fixed">
                            <!--查找的用户-->
                            <span style="display: none" id="username"></span>
                        </table>
                    </div>
                    <script>
                        //查找成员 通过用户名
                        function serachUser() {
                            //点击查询清空之前的数据
                            $("#table1  tr").html("");
                            var userName = $("#userName").val();
                            var teamName = $("#tName").text();
                            if (userName == "" || userName == null) {
                                alert("请输入要查找的用户！")
                                return false;
                            }
                            if (userName.length > 50) {
                                alert("用户名最长50字符！")
                                return false;
                            }
                            $.ajax({
                                url: "/serachUser/",
                                type: "POST",
                                dataType: "json",
                                data: {
                                    "userName": userName,
                                    "teamName": teamName
                                },
                                success: function (data) {
                                    if (data.status == 200) {
                                        html = '<tr>\n' +
                                            '<td style="width: 70%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">\n' +
                                            '  <img src="../static/assets/images/users/1.jpg"\n' +
                                            '  style="width:12%; height:auto; border-radius:50%; overflow:hidden;"/>&nbsp;&nbsp;\n' +
                                            '  <span style="font-size: medium;" title="' + data.message[1] + '" id="name">\n' + data.message[1] +
                                            ' </span>\n' +
                                            ' </td><td>' +
                                            ' <div class="dropdown">\n' +
                                            '<button class="btn btn-secondary dropdown-toggle" type="button"\n' +
                                            ' id="dropdownMenuButton" data-toggle="dropdown"\n' +
                                            ' aria-haspopup="true"\n' +
                                            ' aria-expanded="false">\n' +
                                            '添加角色\n' +
                                            ' </button>\n' +
                                            '<div id="select" class="dropdown-menu"\n' +
                                            'aria-labelledby="dropdownMenuButton">\n' +
                                            '<a class="dropdown-item" href="javascript:void(0)"><span  id="readOnly">只读</span></a>\n' +
                                            '<a class="dropdown-item" href="javascript:void(0)"><span  id="edit">可编辑</span></a>\n' +
                                            '<a class="dropdown-item" href="javascript:void(0)"><span  id="admin">管理员</span></a>\n' +
                                            '</div>\n' +
                                            '</div>\n' +
                                            '</td>\n' +
                                            '</tr>'
                                        $("#table1").append(html)
                                        $("#username").text(data.message[1])
                                    } else {
                                        alert(data.message)
                                    }
                                },
                            });
                        }

                        //添加角色
                        $("#readOnly").live("click", function () {
                            //获取角色名
                            var roleName = $("#readOnly").text();
                            ajax(roleName)
                        });
                        $("#edit").live("click", function () {
                            //获取角色名
                            var roleName = $("#edit").text();
                            ajax(roleName)
                        });
                        $("#admin").live("click", function () {
                            //获取角色名
                            var roleName = $("#admin").text();
                            ajax(roleName)
                        });

                        function ajax(roleName) {
                            //获取用户名、协作空间名
                            var userName = $("#username").text();
                            var teamName = $("#tName").text();
                            $.ajax({
                                url: "/addMember/",
                                type: "POST",
                                dataType: "json",
                                data: {
                                    "userName": userName,
                                    "teamName": teamName,
                                    "roleName": roleName,
                                },
                                success: function (data) {
                                    //清空表格和input搜索框的值
                                    $("#table1  tr").html("");
                                    $("#userName").val("");
                                    alert(data.message);
                                    searchTeamUser();
                                    searchTeamAdmin()
                                },
                            });
                        }
                    </script>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               onclick="searchTeamUser()"
                               aria-controls="home" aria-selected="true">协作者</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">管理员</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent" style="margin-top: 5%">
                        <!--团队的普通协作者 表格-->
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
                             style="height:300px;overflow-y: auto">
                            <table class="table" style="table-layout: fixed" id="table2">
                            </table>
                        </div>
                        <script>
                            //获取协作空间的普通协作者
                            function searchTeamUser() {
                                //清空表内数据
                                $("#table2  tr").html("");
                                //获取协作空间名
                                var teamName = $("#tName").text();
                                $.ajax({
                                    url: "/serachTeamUser/",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        "teamName": teamName
                                    },
                                    success: function (data) {
                                        if (data.status == 200 && data.message != null) {
                                            for (var i = 0; i < data.message.length; i++) {
                                                if (data.message[i][3] == '只读') {
                                                    var html = ''
                                                    html = '<tr>\n' +
                                                        '<td style="width: 70%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">\n' +
                                                        '<img src="../static/assets/images/users/1.jpg"\n' +
                                                        'style="width:12%; height:auto; border-radius:50%; overflow:hidden;"/>&nbsp;&nbsp;\n' +
                                                        '<span style="font-size: medium;" title="' + data.message[i][1] + '" id="name">\n' + data.message[i][1] +
                                                        '</span>\n' +
                                                        '</td>' +
                                                        '<td>\n' +
                                                        '<select class="btn btn-secondary dropdown-toggle" id="test" onchange="Change1(this.options[this.options.selectedIndex].value,' + data.message[i][0] + ')">' +
                                                        '<option value="只读">只读</option>\n' +
                                                        '<option value="可编辑">可编辑</option>\n' +
                                                        '<option value="管理员">设为管理员</option>\n' +
                                                        '<option value="移除">移除已选角色</option>\n' +
                                                        '</select>\n' +
                                                        '</td>\n' +
                                                        '</tr>';
                                                    $("#table2").append(html);
                                                    $("#test option[value=" + data.message[i][3] + "]").attr("selected", true);
                                                } else {
                                                    var html = ''
                                                    html = '<tr>\n' +
                                                        '<td style="width: 70%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">\n' +
                                                        '<img src="../static/assets/images/users/1.jpg"\n' +
                                                        'style="width:12%; height:auto; border-radius:50%; overflow:hidden;"/>&nbsp;&nbsp;\n' +
                                                        '<span style="font-size: medium;" title="' + data.message[i][1] + '" id="name">\n' + data.message[i][1] +
                                                        '</span>\n' +
                                                        '</td>' +
                                                        '<td>\n' +
                                                        '<select class="btn btn-secondary dropdown-toggle" id="test1" onchange="Change1(this.options[this.options.selectedIndex].value,' + data.message[i][0] + ')">' +
                                                        '<option value="只读">只读</option>\n' +
                                                        '<option value="可编辑">可编辑</option>\n' +
                                                        '<option value="管理员">设为管理员</option>\n' +
                                                        '<option value="移除">移除已选角色</option>\n' +
                                                        '</select>\n' +
                                                        '</td>\n' +
                                                        '</tr>';
                                                    $("#table2").append(html);
                                                    $("#test1 option[value=" + data.message[i][3] + "]").attr("selected", true);
                                                }
                                            }
                                        }
                                    },
                                });
                            }

                            //select值改变时调用函数 参数：option的值、成员角色的id
                            function Change1(value, memRoleId) {
                                if (value == "移除") {
                                    del(memRoleId);
                                } else {
                                    editMemberRole(value, memRoleId);
                                }
                            }

                            //角色修改
                            function editMemberRole(value, memRoleId) {
                                $.ajax({
                                    url: "/editMemberRole/",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        //角色名和协作者角色id
                                        "roleName": value,
                                        "memRoleId": memRoleId,
                                    },
                                    success: function (data) {
                                        searchTeamUser();
                                        searchTeamAdmin();
                                        alert(data.message);
                                    },
                                });
                            }

                            //角色移除
                            function del(memRoleId) {
                                if (confirm("确认要删除？")) {
                                    $.ajax({
                                        url: "/delMemberRole/",
                                        type: "POST",
                                        dataType: "json",
                                        data: {
                                            //协作者角色id
                                            "memRoleId": memRoleId,
                                        },
                                        success: function (data) {
                                            searchTeamUser();
                                            searchTeamAdmin();
                                            alert(data.message);
                                        },
                                    });
                                }
                            }
                        </script>
                        <!--团队的管理员 表格-->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <table class="table" style="table-layout: fixed" id="table3">
                            </table>
                        </div>
                        <script>
                            //获取协作空间的管理员
                            function searchTeamAdmin() {
                                //清空表内数据
                                $("#table3  tr").html("");
                                //获取协作空间名
                                var teamName = $("#tName").text();
                                $.ajax({
                                    url: "/serachTeamAdmin/",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        "teamName": teamName
                                    },
                                    success: function (data) {
                                        if (data.status == 200 && data.message != null) {
                                            for (var i = 0; i < data.message.length; i++) {
                                                if (data.message[i][3] == '超级管理员') {
                                                    var html = '<tr>\n' +
                                                        '<td style="width: 70%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">\n' +
                                                        '<img src="../static/assets/images/users/1.jpg"\n' +
                                                        'style="width:12%; height:auto; border-radius:50%; overflow:hidden;"/>&nbsp;&nbsp;\n' +
                                                        '<span style="font-size: medium;" title="' + data.message[i][1] + '" id="name">\n' + data.message[i][1] +
                                                        '</span>\n' +
                                                        '</td>' +
                                                        '<td>\n' +
                                                        '<select class="btn btn-secondary dropdown-toggle" style="width:150px;">' +
                                                        '<option value="超级管理员">超级管理员</option>\n' +
                                                        '</select>\n' +
                                                        '</td>\n' +
                                                        '</tr>';
                                                    $("#table3").append(html);
                                                } else {
                                                    var html = '<tr>\n' +
                                                        '<td style="width: 70%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">\n' +
                                                        '<img src="../static/assets/images/users/1.jpg"\n' +
                                                        'style="width:12%; height:auto; border-radius:50%; overflow:hidden;"/>&nbsp;&nbsp;\n' +
                                                        '<span style="font-size: medium;" title="' + data.message[i][1] + '" id="name">\n' + data.message[i][1] +
                                                        '</span>\n' +
                                                        '</td>' +
                                                        '<td>\n' +
                                                        '<select class="btn btn-secondary dropdown-toggle" style="width:150px;" id="test2" onchange="Change2(this.options[this.options.selectedIndex].value,' + data.message[i][0] + ')">' +
                                                        '<option value="管理员">管理员</option>\n' +
                                                        '<option value="超级管理员">超级管理员</option>\n' +
                                                        '<option value="移除">移除管理员角色</option>\n' +
                                                        '</select>\n' +
                                                        '</td>\n' +
                                                        '</tr>';
                                                    $("#table3").append(html);
                                                    $("#test2 option[value='" + data.message[i][3] + "']").attr("selected", true);
                                                }
                                            }
                                        }
                                    },
                                });
                            }

                            //select值改变时调用函数 参数：option的值、成员角色的id
                            function Change2(value, memRoleId) {
                                if (value == "移除") {
                                    delAdminRole(memRoleId)
                                } else {
                                    editAdminRole(value, memRoleId);
                                }
                            }

                            //管理员角色移除，改为可编辑
                            function delAdminRole(memRoleId) {
                                $.ajax({
                                    url: "/delAdminRole/",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        //协作者角色id
                                        "memRoleId": memRoleId,
                                    },
                                    success: function (data) {
                                        searchTeamUser();
                                        searchTeamAdmin();
                                        alert(data.message);
                                    },
                                });
                            }

                            //角色修改为超管
                            function editAdminRole(value, memRoleId) {
                                $.ajax({
                                    url: "/editAdminRole/",
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        //角色名和协作者角色id
                                        "roleName": value,
                                        "memRoleId": memRoleId,
                                    },
                                    success: function (data) {
                                        alert(data.message)
                                    },
                                });
                            }
                        </script>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 修改协作空间的模态框（Modal） -->
    <div class="modal fade" id="editTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"
         style="margin-left: 5%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel3">协作空间设置</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>空间名称</p>
                    <input type="text" id="perName" class="form-control" hidden="hidden"/>
                    <input type="text" id="name" class="form-control" style="padding-left: 3%;"
                           onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"
                           autocomplete="off"/>
                    <br><br><br>
                    <p>所有权
                        <span class="icon-question" style="margin-left: 1%;" data-toggle="tooltip"
                              data-placement="right"
                              title="所有权决定了协作空间里的文件被谁管理。如果所有权归属于企业，则会受到企业安全设置的影响、被审计系统收录，并参与效能看板的统计。"></span>
                    </p>
                    <p><strong>该空间是个人空间，内容所有权属于空间管理员</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" onclick="editTeam()" style="width: 120px;height: 48px">
                        修改
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="width: 120px;height: 48px">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="../static/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../static/assets/plugins/bootstrap/js/tether.min.js"></script>
<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--分页插件-->
<script src="../static/assets/plugins/bootstrap/js/bootstrap-paginator.js"></script>
<script src="https://cdn.bootcss.com/tooltip.js/1.3.0/esm/tooltip.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../static/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="../static/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../static/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="../static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="../static/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- chartist chart -->
<script src="../static/assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script src="../static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!--c3 JavaScript -->
<script src="../static/assets/plugins/d3/d3.min.js"></script>
<script src="../static/assets/plugins/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="../static/js/dashboard1.js"></script>
<!--添加协作空间-->
<script src="../static/js/addTeam.js"></script>
<script src="../static/js/modifyRTFdocs.js"></script>
<script src="{% static 'js/search.js' %}"></script>

</body>
</html>





