<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
    <title>esbook </title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="../static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
          rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="../static/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../static/css/colors/blue.css" id="theme" rel="stylesheet">

    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <link rel="Stylesheet" type="text/css" href="../static/css/loginDialog.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index/">
                    <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->

                    <!-- Light Logo icon -->
                    <img src="../static/assets/images/logo-light-icon.png" alt="homepage" class="light-logo"/>
                </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->

                    <!-- Light Logo text -->
                    esbook </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <li class="nav-item hidden-sm-down search-box"><a
                            class="nav-link hidden-sm-down text-muted waves-effect waves-dark"
                            href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="搜索文件名、文件内容"> <a class="srh-btn"><i
                                class="ti-close"></i></a></form>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../static/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-10"/>admin</a>
                        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i>退出登录</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li data-id="center" class="waves-effect waves-dark" ><i class="icon-search icon-book-open"></i><span>我的文档</span></li>
                    <li data-id="aaa" class="waves-effect waves-dark" ><i class="icon-search icon-home"></i><span id="demo">协作空间</span></li>
                </ul>
            </nav>
            <style type="text/css">
                #sidebarnav>li{
                     width: 200px;
                     height: 55px;
                     margin-left: 30px;
                     margin-bottom: 0;
                }
                #sidebarnav>li>span{
                    margin-left: 10px;
                }
            </style>
            <!-- End Sidebar navigation -->
        </div>
        <div class="sidebar-footer">
            <a href="" class="link" data-toggle="tooltip" style="font-size: 16px;margin-left:20%;padding: 15px 0px"><i class="icon-search icon-trash"></i><span>回收站</span></a>
        </div>
        <script>
         {#  点击回收站，查询所有状态为1的文件，显示到id为box2的div#}
        </script>
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
         <div id="box">
             <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           style="margin-top:10px;padding: 8px 50px">
          新建
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="text-align: center">
             <a class="dropdown-item" href="#">文档</a>
             <a class="dropdown-item" href="#">表格</a>
             <a class="dropdown-item" href="#">幻灯片</a>
        </div>
        </div>
             <div  >
             <div class="custom-file" >
                 <input type="file" class="custom-file-input" id="inputGroupFile02" style="display: none">
                 <label class="custom-file-label" for="inputGroupFile02" id="btn2">导入</label>
             </div>
         </div>
          </div>
          <style type="text/css">
        #box{
            margin-left: 85%;
            margin-top: 10px;
        }
        #btn2{
            margin-top: 10px;
            width: 150px;
            height: 30px;
            background-color: snow;
            text-align: center;
         }

       </style>
          <div id="box2"></div>
        <script>
             $(function() {
            $("#sidebarnav").on("click", "li", function() {
                var sId = $(this).data("id"); //获取data-id的值
                window.location.hash = sId; //设置锚点
                loadInner(sId);
            });

            function loadInner(sId) {
                var sId = window.location.hash;
                var pathn, i;
                switch(sId) {
                    case "#center":
                        pathn = "/RTFdocs/";
                        i = 0;
                        break;　
                    case "#aaa":
                        pathn = "/first/";
                        i = 1;
                        break;　　　　　　　　　　
                }
                $("#box2").load(pathn); //加载相对应的内容
                $("#sidebarnav li").eq(i).addClass("current").siblings().removeClass("current"); //当前列表高亮
            }
            var sId = window.location.hash;
            loadInner(sId);
        });
        </script>
        <style type="text/css">
          #box2{
             margin-top: -70px;
             margin-left: 1%;
             width:83% ;
             height:auto ;
           }
        </style>
          <!--添加团队的弹出窗 font-size:x-large;height:77px;line-height:77px;-->
        <div id="LoginBox">
             <form action="#" method="POST" onsubmit="return false">
                  <div class="row1">
                       新建协作空间<a href="javascript:void(0)" title="关闭窗口" class="close_btn cancel" id="closeBtn">×</a>
                  </div><br><br>
                  <div class="row">
                      空间名称:<br><br>
                      <input type="text" id="teamName" name="teamName" class="name" placeholder="请输入" style="width: 100%;height: 40px"
                             onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"autocomplete="off"/>
                      <input type="submit" id="loginbtn" value="添加" style="width: 120px"/><input type="button" class="del cancel" value="取消" style="width: 120px"/>
                  </div>
             </form>
        </div>
    </div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="../static/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../static/assets/plugins/bootstrap/js/tether.min.js"></script>
<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../static/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="../static/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../static/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="../static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="../static/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- chartist chart -->
<script src="../static/assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script src="../static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!--c3 JavaScript -->
<script src="../static/assets/plugins/d3/d3.min.js"></script>
<script src="../static/assets/plugins/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="../static/js/dashboard1.js"></script>
<script type="text/javascript">
	$(function ($) {
		//弹出窗口
		$("#demo").hover(function () {
			$(this).stop().animate({
				opacity: '1'
			}, 600);
		}, function () {
			$(this).stop().animate({
				opacity: '0.6'
			}, 1000);
		}).on('click', function () {
			$("#main-wrapper").append('<div id="mask"></div>');
			$("#mask").addClass("mask").fadeIn("slow");
			$("#LoginBox").fadeIn("slow");
		});

		//关闭弹窗
		$(".cancel").hover(function () { $(this).css({ color: 'black' }) }, function () { $(this).css({ color: '#999' }) }).on('click', function () {
			$("#LoginBox").fadeOut("fast");
			$("#mask").css({ display: 'none' });
		});

        //ajax登录
        $("#loginbtn").click(function(){
            var teamName=$("#teamName").val();
	        if(teamName=="" || teamName==null){
                alert("空间名不能为空！")
                return false;
            }
	        if(teamName.length>50){
	            alert("空间名最长50字符！")
                return false;
            }
            $.ajax({
                url:"/addTeam/",
                type: "POST",
                dataType: "json",
                data:{
                    "teamName": $("#teamName").val(),
                },
                success:function(data){
                    if(data.status==200){
                        //跳转到主页面
                        alert(data.message);
                        window.location.href = '/index/';
                    }else{
                        alert(data.message);
                    }
                },
            });
        });


	});
</script>
</body>
</html>



