{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="{% static 'css/login.css' %}" rel='stylesheet' type='text/css'/>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
</head>
<body>
<div style="margin:5% 0 0 70%;">
    <span>没有账号，去</span>
    <button><a href="/register/">注册</a></button>
</div>
<h1>EsBook</h1>
<div class="login-form">
   <div class="head-info">
        <label class="lbl-1"></label>
        <label class="lbl-2"></label>
        <label class="lbl-3"></label>
    </div>
    <div class="clear"></div>
    <form id="login-form" action="/userLogin/" method="post" onsubmit="return checkLoginForm()">
        <div class="key">
            <input type="text" id="userName" name="userName" placeholder="请输入手机号/邮箱"
                    autocomplete="off" onkeyup="this.value=this.value.replace(/\s+/g,'')">
        </div>
        <div class="key">
            <input type="password" id="password" name="password" placeholder="请输入密码" autocomplete="off"
                   onkeyup="this.value=this.value.replace(/\s+/g,'')">
        </div>
        <div>
            <a href="/resetPwd/" class="backPwd">忘记密码</a>
        </div>
        <div class="signin">
            <input type="submit" id="submit" value="Login">
        </div>
    </form>
</div>
<script>
    //禁用后退按钮
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    $(function () {
        if ("{{ error }}") {
            $('#submit').attr('value', "{{error}}").css('background', 'red');
        }
        $('#username,#password').change(function () {
            $('#submit').attr('value', 'Login').css('background', '#3ea751');
        });
    });
</script>
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>