{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {#    <link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- chartist CSS -->
    {#    <link href="../static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">#}
    {#    <link href="../static/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">#}
    <link href="../static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
          rel="stylesheet">
    <link href="../static/css/modify_RTFdocs.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="../static/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../static/css/colors/blue.css" id="theme" rel="stylesheet">
</head>
<body onload="init()">
<header style="background-color: #fafafa;height: 40px;z-index: 0">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">

        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <a href="javascript:history.go(-1)" style="margin-left: 30px">
                <b>
                    <img src="../static/assets/images/返回.png" width="26" height="25" alt="goback">
                </b>
            </a>

            <!-- 分割线 -->
            <img src="../static/assets/images/按键分割线.png" width="30" height="30" alt="goback"
                 class="light-logo">

            <!-- 保存按钮 -->
            <a id="CKEditor_data_modify" href="javascript:void(0);" style="margin-right: 10px">
                <b>
                    <img src="../static/assets/images/保存.png" width="26" height="25" alt="goback">
                </b>
            </a>
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                <!-- ============================================================== -->
                <!-- 文档的标题 -->
                {#                <p style="color: white;font-family: 新宋体;font-size: 18px;color: black">#}
                {#                    无标题文档</p>#}
                <input type="text" id="docs_title" class="form-control" autocomplete="off" placeholder="无标题文档"
                       value="{{ request.session.file_name }}">
                <!-- ============================================================== -->

                <!-- 下拉按钮 -->
            </ul>
            <div class="dropdown" style="margin-left: 10px">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    版本
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button id="saveedi" class="dropdown-item">保存</button>
                    <button id="showEditor" class="dropdown-item">查看</button>
                </div>
            </div>

            <div class="dropdown" style="margin-left: 10px">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    智能工具
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0);">markdown</a>
                </div>
            </div>
            <div class="dropdown" style="margin-left: 10px">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    分享
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0);">通过链接分享</a>
                </div>
            </div>

            <img src="../static/assets/images/按键分割线.png" width="30" height="30" alt="goback"
                 class="light-logo">


            <img src="../static/assets/images/users/1.jpg" style="height: 30px; width: 30px;border-radius: 15px;"
                 alt="user" class="profile-pic m-r-10"><span
                style="color: black;margin-top: 2px;">{{request.session.username}}</span>
        </div>
    </nav>
</header>
{# 富文本ui按钮 #}
<div id="toolbar-container" style="margin-top: 2px"></div>
<input type="hidden" id="roleName" value="{{ request.session.roleName }}">
<input type="hidden" id="get_doc_content" value="{{ request.session.doc_content }}">
<input type="hidden" id="doc_save_state" value="{{ saveState }}">
<input type="hidden" id="userId" value="{{ request.session.userId }}">
<input type="hidden" id="fileId" value="{{ request.session.file_id }}">
<input type="hidden" id="teamId" value="{{ saveState }}">

{# 文档内容 #}
<div id="editor" style="height: 100px">
</div>
{# 查看版本 #}
<div id="myEditor" class="alert">
    <a href="javascript:void(0)" id="closeEditor" class="close">&times;</a>
</div>
<style>
    .btn0{
        width: 50px;
        display: inline-block;
        text-align: center;
        background: 0 0;
        border: 0;
        color: #0275d8;
    }
</style>
<!-- 预览模态框 -->
<div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 35px 0 0 290px">
        <div class="modal-content" style="width:850px;height:750px">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="table-layout: fixed">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 120px;height: 48px">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
<script src="../static/ckeditor5-build-decoupled-document/ckeditor.js"></script>
<script src="../static/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{% static 'js/modifyRTFdocs.js' %}"></script>
</html>