<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号设置</title>
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="../static/css/register.css" rel="stylesheet">
    <link href="../static/css/personal.css" rel="stylesheet">
</head>
<body>
<div class="head">
    <a href="/index/" class="esbook">esbook</a>
    <a href="/logout/" class="none"  title="Logout">退出登录</a>
</div>
<div class="tit">
    <a href="/index/">桌面</a>
    <span> > </span>
    <span>账号设置</span>
</div>
<div class="body">
    <span id="span"></span>
    <div class="div">
        <div class="left">
            <form name="form" action="/uploadImg/" method="post" enctype="multipart/form-data">
                <input type="file" accept="image/*" class="input" name="pic" title="修改头像"/>
                <input type="submit" value="上传" hidden>
            </form>
            <img src=" " class="img"/><br/><br/>
            <p>帐号信息</p>
        </div>
        <div class="right">
            <label class="control-label">用户名</label>
            <input type="text"  class="form-control" autocomplete="off" maxlength="50"/>
            <br><br>
            <label  class="control-label">密&nbsp;&nbsp;&nbsp;码</label>
            <input type="password"  class="form-control" autocomplete="off" maxlength="20" readonly/>
            <br><br>
            <label  class="control-label">手&nbsp;&nbsp;&nbsp;机</label>
            <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'');"  class="form-control"
                    autocomplete="off" maxlength="11"/>
            <br><br>
            <label  class="control-label">邮&nbsp;&nbsp;&nbsp;箱</label>
            <input type="email"  class="form-control"  autocomplete="off" maxlength="50"/>
        </div>
    </div>
</div>
</body>
<script src="../static/assets/plugins/jquery/jquery.min.js"></script>
<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/personal.js"></script>
</html>