<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号设置</title>
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="../static/css/register.css" rel="stylesheet">
    <link href="../static/css/personal.css" rel="stylesheet">
</head>
<body>
<div class="head">
    <a href="/index/" class="esbook">esbook</a>
    <a href="/logout/" class="none"  title="Logout">退出登录</a>
</div>
<div class="tit">
    <a href="/index/">桌面</a>
    <span> > </span>
    <span>账号设置</span>
</div>
<div class="body">
    <div class="div">
        <div class="left">1213</div>
        <div class="right">32156</div>
    </div>
</div>
</body>
<script src="../static/assets/plugins/jquery/jquery.min.js"></script>
<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/personal.js"></script>
</html>