<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="../static/css/register.css" rel="stylesheet">
</head>
<body>
<div class="head">
    <a href="/index/" class="esbook">esbook</a>
    <span class="none">已有账号？请</span>
    <button style="margin-left: 0.5%" onclick="Login()">登录</button>
</div>
<div class="title">注册</div>
<div class="content">
    <form class="form-horizontal" action="/Register/" method="post" onsubmit="return checkForm()">
        <div class="form-group">
            <label for="inputName" class="control-label">输入用户名</label>
            <div>
                <input type="text" required class="form-control" id="inputName" name="name" autocomplete="off" maxlength="50"/>
                <span id="name" style="color: red"></span>
            </div>
        </div>
        <div class="form-group" id="myPhone">
            <label for="inputPhone" class="control-label">输入手机号</label>
            <div>
                <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" name="phone" maxlength="11" autocomplete="off"
                       required class="form-control" id="inputPhone" placeholder="暂不支持非中国大陆地区手机号">
                <span id="phone" style="color: red"></span>
            </div>
        </div>
        <div class="form-group" style="display: none" id="myEmail">
            <label for="inputEmail" class="control-label">输入邮箱</label>
            <div>
                <input type="email" class="form-control" id="inputEmail" name="email" autocomplete="off" maxlength="50">
                <span id="email" style="color: red"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label">输入密码</label>
            <div>
                <input type="password" required class="form-control" id="inputPassword" name="password" minlength="6" autocomplete="off" maxlength="20">
            </div>
        </div>
        {% comment %}<div class="form-group" id="code">
            <label for="inputCode" class="control-label">输入验证码</label>
            <div>
                <input type="text"  class="form-control" id="inputCode" maxlength="4" autocomplete="off"
                placeholder="请输入验证码" style="width: 58%;display: inline-block" name="code">
                <button type="button" class="form-control" style="width: 40%;display: inline-block;background-color: silver">获取验证码</button>
            </div>
        </div>{% endcomment %}
        <div><a class="switch" href="javascript:void(0)" onclick="Switch()">使用邮箱注册</a></div>
        <div class="form-group">
            <button type="submit" class="form-control btn Btn" onclick="Register()">注册</button>
        </div>
        <span id="msg" style="color: red"></span>
    </form>
</div>
</body>
<script src="../static/assets/plugins/jquery/jquery.min.js"></script>
<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/Register.js"></script>
</html>